USE [master]
GO
/****** Object:  Database [AdventureWorks2017]    Script Date: 01-Apr-20 7:17:36 PM ******/
CREATE DATABASE [AdventureWorks2017]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdventureWorks2017', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AdventureWorks2017.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AdventureWorks2017_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AdventureWorks2017_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdventureWorks2017].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AdventureWorks2017]
GO

/****** Object:  Schema [Marketing]    Script Date: 01-Apr-20 7:17:36 PM ******/
CREATE SCHEMA [Marketing]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Marketing].[TvAdvertisements](
	[AvertisementId] [int] IDENTITY(1,1) NOT NULL,
	[AdvertisementName] [varchar](20) NOT NULL,
	[AdvertisementDescription] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TvAdvertisements] PRIMARY KEY CLUSTERED 
(
	[AvertisementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Marketing].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](30) NOT NULL,
	[Address] [varchar](30) NOT NULL,
	[ContactNumber] [varchar](50) NOT NULL,
	[EmailId] [varchar](40) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Marketing].[CampaignResponse](
	[CampaignResponseId] [int] IDENTITY(1,1) NOT NULL,
	[CampaignName] [varchar](30) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[TotalCostofCampaign] [int] NOT NULL,
	[Startdate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_CampaignResponse] PRIMARY KEY CLUSTERED 
(
	[CampaignResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Marketing].[Competitors](
	[CompetitorId] [int] IDENTITY(1,1) NOT NULL,
	[CompetitorName] [varchar](30) NOT NULL,
	[Address] [varchar](30) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[ContactNumber] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Competitors] PRIMARY KEY CLUSTERED 
(
	[CompetitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Marketing].[TvAdvertisements]    Script Date: 01-Apr-20 7:17:36 PM ******/


ALTER TABLE [Marketing].[Competitors]  WITH CHECK ADD  CONSTRAINT [FK_Competitors_Companies] FOREIGN KEY([CompetitorId])
REFERENCES [Marketing].[Companies] ([CompanyId])
GO
ALTER TABLE [Marketing].[Competitors] CHECK CONSTRAINT [FK_Competitors_Companies]
GO
ALTER TABLE [Marketing].[TvAdvertisements]  WITH CHECK ADD  CONSTRAINT [FK_TvAdvertisements_TvAdvertisements] FOREIGN KEY([AvertisementId])
REFERENCES [Marketing].[TvAdvertisements] ([AvertisementId])
GO
ALTER TABLE [Marketing].[TvAdvertisements] CHECK CONSTRAINT [FK_TvAdvertisements_TvAdvertisements]
GO


USE [master]
GO
