USE [master]
GO
/****** Object:  Database [Assignment1]    Script Date: 24-03-2020 18:36:56 ******/
CREATE DATABASE [Assignment1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Assignment1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Assignment1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment1]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 24-03-2020 18:36:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [varchar](30) NOT NULL,
	[ContactNumber] [varchar](20) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Email] [varchar](10) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
