USE [master]
GO
/****** Object:  Database [RegExDemo]    Script Date: 21-Apr-20 5:19:22 PM ******/
CREATE DATABASE [RegExDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegExDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RegExDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegExDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\RegExDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegExDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegExDemo]
GO
/****** Object:  SqlAssembly [CLRPractice]    Script Date: 21-Apr-20 5:19:22 PM ******/
CREATE ASSEMBLY [CLRPractice]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300D5D89E5E0000000000000000E00022200B0130000008000000060000000000001E260000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000CC2500004F00000000400000B002000000000000000000000000000000000000006000000C000000942400001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000024060000002000000008000000020000000000000000000000000000200000602E72737263000000B00200000040000000040000000A0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000000E0000000000000000000000000000400000420000000000000000000000000000000000260000000000004800000002000500A8200000EC0300000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000133003004300000001000011000F01280400000A2D090F00280400000A2B01170A062C09007E0500000A0B2B200F00280600000A0F01280600000A2001020000280700000A280800000A0B2B00072A2202280900000A002A42534A4201000100000000000C00000076342E302E33303331390000000005006C00000064010000237E0000D00100009401000023537472696E67730000000064030000040000002355530068030000100000002347554944000000780300007400000023426C6F620000000000000002000001471502000900000000FA013300160000010000000900000002000000020000000200000009000000030000000100000001000000030000000000A20001000000000006004500F30006006500F30006003100E0000F001301000006007201BD000A00C40022010A008D0022010E008E0137010E006501370100000000010000000000010001000100100056011F0015000100010050200000000096009700390001009F20000000008618DA000600030000000100850100000200CF000900DA0001001100DA0006001900DA000A003900B200160031002B001A00390083001E0041009A002200310079012A002900DA0006002E000B0042002E0013004B002E001B006A0010000480000000000000000000000000000000001F000000040000000000000000000000300016000000000004000000000000000000000030000A00000000000400000000000000000000003000BD000000000000000000003C4D6F64756C653E0053797374656D2E44617461006D73636F726C696200434C5250726163746963650046616C73650044656275676761626C6541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465006765745F56616C75650053716C537472696E6700636C7249734D6174636800434C5250726163746963652E646C6C006765745F49734E756C6C0053797374656D0053716C426F6F6C65616E007374725061747465726E002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C54797065730053797374656D2E546578742E526567756C617245787072657373696F6E7300526567657846756E6374696F6E730052656765784F7074696F6E73004F626A656374006F705F496D706C6963697400737472496E7075740052656765780000000000295F16EE1A5F694F86A866BF93BDC97B0004200101080320000105200101111105070202111903200002030611190320000E070003020E0E112505000111190208B77A5C561934E0890800021119111D111D0801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000000000000000D5D89E5E00000000020000001C010000B0240000B00600005253445319C40FA1DB6A7A428CA053C9CA6D4BD401000000433A5C55736572735C53686976616D2044756265795C736F757263655C7265706F735C434C5250726163746963655C6F626A5C44656275675C434C5250726163746963652E7064620000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F425000000000000000000000E26000000200000000000000000000000000000000000000000000000260000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000540200000000000000000000540234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004B4010000010053007400720069006E006700460069006C00650049006E0066006F0000009001000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E003000000040001000010049006E007400650072006E0061006C004E0061006D006500000043004C005200500072006100630074006900630065002E0064006C006C0000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000004800100001004F0072006900670069006E0061006C00460069006C0065006E0061006D006500000043004C005200500072006100630074006900630065002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000203600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
/****** Object:  UserDefinedFunction [dbo].[clrIsMatch]    Script Date: 21-Apr-20 5:19:22 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[clrIsMatch](@strInput [nvarchar](4000), @strPattern [nvarchar](255))
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [CLRPractice].[CLRPractice.RegexFunctions].[clrIsMatch]
GO
USE [master]
GO
